.restore-account{
	font-size: calc(12rem/14);
	color: rgb(255, 193, 7);
	text-align: right;padding: 2% 2% 2% 0;
}
.tip-remark span{
	font-size: calc(50rem/14);
	color: rgba(2,132,209,1);
	
}
.tip-remark{
	text-align: center;
	padding:  0 0 2% 0;
}
.tip-telling{
	width: 80%;
	margin: 0 auto;
}
.telling-warning{
	color: #333;
	line-height: calc(30rem/14);
}
.tip-telling ul li{
	margin: calc(20rem/14) 0 0 0;
	color:  rgba(2,132,209,0.8);
}
/* .tip-confirm{
	position: absolute;
	bottom: calc(212rem/14);
	left: 0;
	right: 0;
	margin: 0 auto;
} */
.tip-confirm>div{
	height: calc(40rem/14);
	width: calc(160rem/14);
	background-color: rgba(2,132,209,1);
	color: #fff;
	border-radius: calc(8rem/14);
	text-align: center;
	line-height: calc(40rem/14);
	margin: 6% auto;
	
}