.main-index{
    position: relative;
    height: 100%;
    width: 100%;
}
.main-nav{
    position:fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    padding: 2% 5%;
    box-sizing: border-box;
}
.activeName {
    color: rgb(18,169,235);
}
.activeName p{
    color: rgb(18,169,235);
}
.main-nav::before{
    content: "";
    position: absolute;
    /* display:inline-block; */
    height: 1px;
    background: rgba(117, 117, 117, 0.2);
    width: 100%;
    left: 0;
    top: 0;
}
.main-nav li{
    text-align: center;
    font-size:1rem;
    color: rgba(117, 117, 117, 1);
}

/* 资产界面 */
.assets-all-head{
    width: 100%;
    height: calc(220rem/14);
    background: url(../imgs/icon_bg.png) no-repeat;
    background-size: 100% 100%;
}
.assets-head-qrIcon{
    
        color:#fff;
        text-align: right;
        padding: 0 2%;
        box-sizing: border-box;
        padding-top: 2%;
        
}
.assets-head-qrIcon span{
    font-size: calc(25rem/14);

}