.main-index{
    position: relative;
    height: 100%;
    width: 100%;
}
.main-nav{
    position:fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    padding: 2% 5%;
    box-sizing: border-box;
	background-color: #fff;
}
.activeName {
    color: rgb(18,169,235);
}
.activeName p{
    color: rgb(18,169,235);
}
.main-nav::before{
    content: "";
    position: absolute;
    /* display:inline-block; */
    height: 1px;
    background: rgba(117, 117, 117, 0.2);
    width: 100%;
    left: 0;
    top: 0;
}
.main-nav li{
    text-align: center;
    font-size:1rem;
    color: rgba(117, 117, 117, 1);
}
/* 行情界面 */
.quotation-cotain-all{
	width: 100%;
	height: 100%;
	background-color: rgba(244,244,244);
}
.quotation-cotain-all ul{
	padding-top: calc(10rem/14);
	width: 100%;
	overflow: scroll;
	box-sizing: border-box;
	height: 100%;
}
.quotation-list{
	height:calc(80rem/14);
	width: 100%;
	background-color: #FFFFFF;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	display: flex;
	justify-content: space-between;
	padding: 3% 5%;
	box-sizing: border-box;
	text-align: center;
	font-size: 1rem;
}
.confirm-tag{
	min-width: calc(152rem/2/14);
	height: calc(52rem/2/14);
	background-color: rgba(33,33,33,0.5);
	border-radius: calc(4rem/14);
	text-align: center;
	color: #FFFFFF;
	line-height: calc(52rem/2/14);
}
.confirm-tag a{
	color: #FFFFFF;
}
.quotation-ta{
	margin-top: 4%;
}
/* 我的界面 */
.mine-contain{
	height: 100%;
	overflow: scroll;
	width: 100%;
	background-color: rgba(244,244,244);
}
.mine-head-content{
	height: calc(200rem/14);
	width: 100%;
	background-color: rgba(18,169,237);
	position: relative;
	box-shadow: 0 0.125rem 0.3125rem #7DCDF3;
}
.mine-head-setting{
	width:100%;
	padding:1% 2% 0;
	text-align: right;
	box-sizing: border-box;
}
.mine-head-setting .icon-shezhi{
	color: #FFFFFF;
	font-size: calc(30rem/14);
}
.mine-head-avater{
	/* margin-top: calc(8rem/14); */
	margin: calc(8rem/14) auto 0;
	width: 3.75rem;
	height: 3.75rem;
}
.mine-nickname{
	color: #FFFFFF;
	text-align: center;
	font-size: 0.75rem;
	margin-top: 0.5rem;
}
.mine-coin{
	color: #FFFFFF;
	text-align: center;
	font-size: 0.75rem;
	margin-top: 0.75rem;
}
.mine-sec-order{
	padding:  3% 0;
	background-color: #FFFFFF;
}
.sec-order-head{
	font-size: calc(16rem/14);
	font-family: "microsoft yahei";
	padding:0 3%;
}
.sec-order-inline{
	display: block;
	height: 1px;
	width: 100%;
	background-color: rgba(33,33,33,0.3);
	margin-top: 3%;
}

/* todo
.mine-head-content:after{
	content: '';
	height: calc(10rem/14);
	width: calc(10rem/14);
	position: absolute;
	background-color: #7dcdf3;
	border-radius: 50%;
	bottom: 0;
	left: 0;
	animation: sportBall 2s ease-in-out 2s  infinite alternate;
} 
@keyframes sportBall{
	0% {
		bottom: 0;
		left:0;
	}
	
	50%{
		bottom: 3.75rem;
		left:50%;
	}
	
	100%{
		bottom:0;
		left:  98%
	}
} */

 