.set-password{
	padding: 2% 5% 0 5%;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
.set-head{
	text-align: center;
	font-size: calc(32rem/14/2);
	margin-top: 20%;
}
.set-pswd-in{
	
	margin-top: 5%;
}
.set-pswd-in ul{
	box-sizing: border-box;
}
.set-pswd-in ul li{
	display: flex;
	padding: 2% 0;
}
.set-pswd-in ul li p{
	width: calc(100rem/14);
	text-align: right;
}
.set-pswd-in ul li p:nth-child(1){
line-height:calc(25rem/14) ;
color: #000;
}
.set-pswd-in ul li p:nth-child(2){
margin-left: 2%; 
}
.set-pswd-in ul li p:nth-child(2)>input{
	border: 1px solid #d9d9d9;
	border-radius: calc(4rem/14);
	padding: 1% 2%;
	box-sizing: border-box;
	height: calc(25rem/14);
	width: 12.5rem;
}
.set-confirm{
	width: 15rem;
	height: calc(40rem/14);
	background-color: rgba(2,132,209,0.5);
	color: #FFFFFF;
	text-align: center;
	line-height: calc(40rem/14);
	font-size: calc(32rem/14/2);
	border-radius: calc(8rem/14);
	/* margin: 0 auto; */
	 margin-left: 32%;
    margin-top: 10%; 
}